
<div class="container-fluid" id="cards-column">

    <h2> {{ columnTitle }} </h2>

    <div *ngIf="columnTitle === 'Create Task!'">
          <app-card [lista]="columnTitle"></app-card>
    </div>

    <div *ngFor="let card of cardData; let i = index">
        <div *ngIf="columnTitle === card.lista">
            <app-card 
            [index]="i" 
            [lista]="card.lista" 
            [titulo]="card.titulo" 
            [conteudo]="card.conteudo"
           
            ></app-card>
        </div>

    </div>


<!-- cardType, cardTitle, cardDescription -->
    

  

   

    

</div>