<div class="card mb-3" style="max-width: 100%;" [ngStyle]="{backgroundColor: getBackgroundColor()}">
   
  <!------------------- EXISTING CARDS------------------>
  <div *ngIf="card.lista != 'Create Task!'" id="existing-cards">
    <div class="card-body">
      <h5 class="card-title"> 
        {{titulo}}  
        
      </h5>
      <p class="card-text"> 
        {{conteudo}}       
      </p>
    </div>

  </div>

  <!---------------------- CREATE CARD--------------->
  <div id="edit-mode" *ngIf="editMode">
    <input class="form-control" type="text" placeholder="Title">
    <input class="form-control" placeholder="Description">
  </div>
  

  <!-------------------------- FOOTER  -------------->
    <div class="card-footer ">

        <!-- create Task Button -->
        <a style="cursor: pointer;" (click)="addTask()"><img height="35px" width="35px" alt="add-task"src="https://img.icons8.com/bubbles/100/000000/create-new.png"/></a>

         <!-- Rewind back task Button -->
         <a style="cursor: pointer;" *ngIf="card.lista === 'Done!' || card.lista === 'Doing...' " (click)="taskBack()"><img height="35px" width="35px" alt="advance-forward"src="https://img.icons8.com/bubbles/100/000000/long-arrow-left.png"/></a>

         <!-- Delete task button -->
         <a style="cursor: pointer;" *ngIf="card.lista != 'Create Task!' " (click)="deleteTask()"><img height="35px" width="35px" alt="advance-forward"src="https://img.icons8.com/bubbles/100/000000/delete-sign.png"/></a>
        
        <!-- advance Forward Button -->
        <a style="cursor: pointer;" *ngIf="card.lista === 'To Do:' || card.lista === 'Doing...'" (click)="taskForward()" ><img height="35px" width="35px" alt="advance-forward"src="https://img.icons8.com/bubbles/100/000000/right.png"/></a>
        
      
    </div>
  </div>

  <div>
  
  </div>



 



